@{
    ViewData["Title"] = "Home Page";
    Layout = "_PublicLayout";
}

<div style="background: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-green" style="width:100%">
                <div class="pt-5 pb-5">
                    <h1>GET STARTED...</h1>
                    <p class="pb-4">
                        Average overpriced sandwiches created by "Artists"
                    </p>
                    <p>
                        <a href="#heading" class="btn btn-success">Order Online Now</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 pt-4">
                <img src="~/images/sub-banner-art.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Menu");


